@import "../../variables.scss";
@import "../../styles.scss";

.tasks-page__container {
  font-family: 'Roboto', sans-serif;
  padding: $spacing * 3;
  background-color: $grey;
}

.tasks-page__title {
  font-family: 'Montserrat', sans-serif;
  font-size: $big-title;
  color: $black;
}

.tasks-page__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button {
    @include button($light-blue, $white);
  }
}
