<section class="modal__container">
  <h1 class="modal__title">{{data.title}}</h1>
  <form class="modal__form" [formGroup]="addPaymentForm" *ngIf="!data.payment">
    <div>
      <input
        name="username"
        formControlName="username"
        placeholder="Usuário*"
        required>
      <input
        formControlName="value"
        placeholder="Valor*"
        required>
    </div>
    <div>
      <input
        formControlName="date"
        placeholder="Data*"
        required>
      <input
        formControlName="title"
        placeholder="Título">
    </div>
  </form>
  <div class="modal__ctas">
    <button (click)="onCancel()" class="button__cancel">Cancelar</button>
    <button (click)="onSave()" class="button__save submit" [disabled]="!addPaymentForm.valid">Salvar</button>
  </div>
</section>
