<app-template-modal (close)="closeModal()" [title]="title">
    <div conteudo>
       <form [formGroup]="form">
           <div class="container row">
               <div class="col-6">
                <div class="label-float mt-4">
                    <input type="text" placeholder=" " formControlName="name" inputmode="text" [ngClass]="[
                    isFieldValid(form, 'name') ? 'required' : ''
                    ]"/>
                    <label>Usuario *</label>
                    <div class="mt-1 text-danger text-monospace" *ngIf="isFieldValid(form, 'name')">
                        <small>{{ form.getFirstErrorFrom('name', 'usuario') }}</small>
                    </div>
                </div>
                <div class="label-float mt-4">
                    <input type="text" placeholder=" " formControlName="value" inputmode="text" [ngClass]="[
                    isFieldValid(form, 'value') ? 'required' : ''
                    ]"/>
                    <label>Valor *</label>
                    <div class="mt-1 text-danger text-monospace" *ngIf="isFieldValid(form, 'value')">
                        <small>{{ form.getFirstErrorFrom('value', 'valor') }}</small>
                    </div>
                </div>
               </div>
               <div class="col-6">
                <div class="label-float mt-4">
                    <input type="text" placeholder=" " formControlName="date" inputmode="text" [ngClass]="[
                    isFieldValid(form, 'date') ? 'required' : ''
                    ]"/>
                    <label>Data *</label>
                    <div class="mt-1 text-danger text-monospace" *ngIf="isFieldValid(form, 'date')">
                        <small>{{ form.getFirstErrorFrom('date', 'data') }}</small>
                    </div>
                </div>
                <div class="label-float mt-4">
                    <input type="text" placeholder=" " formControlName="title" inputmode="text" [ngClass]="[
                    isFieldValid(form, 'title') ? 'required' : ''
                    ]"/>
                    <label>Titulo *</label>
                    <div class="mt-1 text-danger text-monospace" *ngIf="isFieldValid(form, 'title')">
                        <small>{{ form.getFirstErrorFrom('title', 'titulo') }}</small>
                    </div>
                </div>
                <button class="btn btn-sm btn-light col-4 float-left mb-4 mt-4"  title="cancelar" (click)="closeModal()">Cancelar</button>
                <button class="btn btn-sm btn-primary col-4 float-left mb-4 mt-4"  title="salvar" (click)="submit()">Salvar</button>
               </div>
           </div>
       </form>
      
    </div>
</app-template-modal>