<section class="modal__container">
  <h1 class="modal__header">{{data.title}}</h1>
  <ng-container *ngIf="data" class="modal__body">
    <ng-container *ngIf="data.action === PaymentAction.Delete">
      <div class="modal__delete-infos">
        <p>Usuário: {{data.payment.name}}</p>
        <p>Data: {{formatDisplayDate(data.payment.date)}}</p>
        <p>Valor: R$ {{data.payment.value}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="data.action !== PaymentAction.Delete">
      <form class="modal__form" [formGroup]="addPaymentForm">
        <div class="inputs__wrapper">
          <input
            class="modal__input"
            type="text"
            formControlName="name"
            placeholder="Usuário*"
            required>
          <div class="modal__input-currency-wrapper modal__input">
            <input class="input__fixed-currency" type="text" value="R$" disabled>
            <input
              formControlName="value"
              placeholder="Valor* (ex.: R$ 38,64)"
              required>
          </div>
        </div>
        <div class="inputs__wrapper">
          <input
            class="modal__input"
            formControlName="date"
            placeholder="Data* (ex.: 13/11/2022)"
            type="string"
            required>
          <input
            class="modal__input"
            type="text"
            formControlName="title"
            placeholder="Título">
        </div>
      </form>
    </ng-container>
    <div class="modal__ctas">
      <button (click)="onCancel()" class="button__cancel">Cancelar</button>
      <button (click)="onSave()" class="button__save" [disabled]="!addPaymentForm.valid">
        {{data.action === PaymentAction.Delete ? 'Excluir' : 'Salvar'}}
      </button>
    </div>
  </ng-container>
</section>
