@import "./variables.scss";

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  min-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin button($bg-color, $color) {
  background-color: $bg-color;
  border-radius: 4px;
  border: none;
  color: $color;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: $small-text;
  padding: $spacing/2 $spacing;

  &:hover {
    font-weight: bold;
  }

  &:disabled {
    background-color: $soft-black;
  }
}
