@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

:root {
  --main-bg-color: #002D69;
}

.bg-color {
  background: var(--main-bg-color);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
