$dark-grey: #2D3540;
$grey: #F2F2F2;
$black: #333333;
$soft-black: rgba(0, 0, 0, 0.6);
$light-blue: #007DFE;
$dark-blue: #002D69;
$white: #fff;
$red: #D0342C;

$tiny-text: 0.6rem;
$small-text: 0.8rem;
$regular-text: 1rem;
$small-title: 1.2rem;
$regular-title: 1.6rem;
$big-title: 2rem;

$spacing: 1rem
