@import "src/variables.scss";

.table__container {
  border-radius: 8px;
  background-color: $white;
}

.mat-table {
  width: 100%;
  font-family: 'Lato', sans-serif !important;
}

.mat-row:hover {
  .table__icon {
    display: block;
    cursor: pointer;
  }
}

.mat-cell {
  max-width: 50px;
  min-width: 50px;
  border: none;
  padding: $spacing 0;

  .table__cell__row--primary {
    margin-bottom: 0;
  }

  .table__cel__row--secondary {
    font-size: $tiny-text;
    color: $dark-grey;
  }
}

.mat-column {
  flex: none;
}

.table__icon {
  display: none;
}

.table__icons-wrapper {
  display: flex;
  justify-content: center;

  img + img {
    padding-left: $spacing / 2;
  }
}

.mat-header-cell {
  font-weight: 700;
  font-size: $small-text;
  border-bottom-color: #CFDCE5;
  border-bottom-width: 2px;
  color: $dark-grey;

  .edit__remove {
    display: none;
    color: gray !important;
  }
}

.mat-paginator, .mat-table, .mat-header-cell {
  background-color: $white;
}

.icon__pay {
  cursor: pointer;
}
